
@import "../../style/_theme.scss";

@mixin  navbar-list-separator {
  li {
    display: inline-block;
    width: auto;
    padding-left: $s-pad;
    &:nth-child(n){
      &::before {
        color: $c-greylight;
        content: "|";
      }
    }

    &:nth-child(1){
      &::before {
        content: "";
      }
    }
  }

}

.navbar {
  background-color: #ff7a7a;
  padding-bottom: $s-pad / 2;

  margin-bottom: $s-pad * 2;
  li {
    list-style: none;
    text-align: center;
  }

  h1 {
    padding: $s-pad;
    font-family: monospace;
    background-color: $c-black;
    color: $c-white;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }


  a {
    color: $c-greydark;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      color: #ff7a7a * 0.7;
    }
  }

  @media  screen and (min-width: 500px){
    padding-bottom: 0px;
    a {
      font-size: 0.9em;
    }

    * {
      font-size: 1em;
    }

    ul {
      margin-left: auto;
      margin-right: auto;
      padding:  ($s-pad / 2) $s-pad;
    text-align: left;

      @include navbar-list-separator;
    }
  }

  @media screen and (min-width: 900px) {
    padding: 0px;

    * {
      margin: 0px;
    }

    h1 {
      display: inline-block;
      padding-top: -2 * $s-pad;
      font-size: 1em;
      width: 25%;
      height: 100%;
      text-align: center;
    }

    nav {
      display: inline-block;
      width: 70%;
      ul,li,a {
        text-align: right;
      }

      @include navbar-list-separator;
    }
  }

}
