@import "../../style/_theme.scss";

.markdown-editor {
  .editor {
    height: 38vh;
    width: 100%;
    textarea {
      height: 100%;
      background-color: $c-black;
      color: $c-white;
    }
  }

  .displaybox {
    height: 50vh;
    width: 100%;
    padding: $s-pad * 4.5;
    word-break: break-all;
    overflow-y: scroll;
    overflow-x: visible;
    @include border;
  }
}
